.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2rem;
  color: #333;
  white-space: nowrap; /* Empêche le retour à la ligne */
  overflow: hidden; /* Cache le texte excédentaire pendant l'animation */
  display: inline-block;
  text-align: center;
  animation: typing 2s steps(30) 1, blink 0.75s step-end infinite; /* Animation de frappe et clignotement */
}

/* Animation pour l'effet de frappe */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Animation pour le clignotement du curseur */
@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

