.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
  overflow: hidden;    /* Cache le texte qui dépasse avant l'animation */
  border-right: 0.1em solid black; /* Crée un curseur clignotant */
  width: 0; /* Cache initialement le texte */
  animation: typing 5s steps(50) 1s forwards, blink 0.75s step-end infinite; /* Animation du texte */
}

/* Animation pour le texte qui apparaît */
@keyframes typing {
  100% {
    width: 100%; /* Augmente la largeur pour afficher tout le texte */
  }
}

/* Animation pour le curseur clignotant */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
